/* Empty. Add your own CSS if you like */

ion-item.main-category {
    color: green;
}
ion-item.sub-category {
    color: blue;
}
.home-screen-content {
    height:  100%;
    width: 100%;
    max-height: 100%;
    /* background-color: black; */
    position: relative;
}
.home-screen-btn-show-details-wrapper {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px;
}
.home-screen-btn-show-details {
    left: 10px;
    right: 10px;
    width: 100%;
    /* margin: 20px; */
    /* width: 100%; */
}

img.home-screen-image {
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    /* width: 100%; */
    right: 0;
    top: 43px;
    background-color: black !important;
    z-index: 2;
}
/*
div.search-field {
    width: 100%;
    padding: 5px 15px;
}*/

#map {
    width: 100%;
    height: 300px;
    margin: 0;
    position: relative;
}

.scroll {
    height: 300px;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.home-screen-btn-show-details-wrapper button {
    border-color: bbb;
    background: rgba(17, 193, 243, 0.75);
    
    border: 2px solid #0a9ec7;
    /* background: rgba(200, 54, 54, 0.5); */ /* 50% transparent */
    color: #fff;
}
.home-screen-btn-show-details-wrapper button:hover {
     color: #fff;
     background: rgba(17, 193, 243, 0.9);
}

.side-menu-header {
    padding: 5px 0;
    border-bottom: 0;
}

.item.main-category {
    background-color: black !important;
    border-left: 7px solid #11c1f3;
}
.item.sub-category {
    padding-left: 10px;
}

.btn-home.item-complex .item-content {
    padding: 0 !important;
    border: 0 none !important;
    float: left;
    background-color: transparent;
}
.btn-home {
    padding: 5px 25px !important;
}
.item-thumbnail-left, .item-thumbnail-left .item-content {
    min-height: 10px;
}
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    max-width: 40px;
    max-height: 40px;
    top: 9px;
}
.item-thumbnail-left, .item-thumbnail-left .item-content {
    padding-left: 60px;
    /* padding-bottom: 8px; */
    padding-top: 8px;
}
.menu-content .item-complex .item-content, .item-radio .item-content {
    padding-bottom: 8px;
}
.item h2 {
    color: #f8f8f8;
}
.item p {
    color: #999;
}
.menu-content ion-view {
    background: #333;
}
.menu-content ion-content {
    background: #333;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
.menu-content .place-list ion-content {
    height: auto;
}
.menu-content .place-list ion-content + ion-content {
    /* top: 78px; */
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
ion-side-menu.menu.menu-left ion-content {
    background: #333;
}


/* Random place */
p.random-place-name {
    color: #fff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 200;
    background-color: rgba(33, 33, 33, 0.75);
    font-size: 16px;
    padding: 6px;
}

/* Place details */
ion-view.place-details div.name-and-distance {
    width: 100%;
    position: relative;
    float: left;
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
ion-view.place-details p.name {
    color: #11c1f3;
    font-size: 18px;
    float: left;
    line-height: 18px;
}
ion-view.place-details p.distance {
    color: #999;
    float: right;
    line-height: 18px;
}
ion-view.place-details ion-content div.content {
    padding: 10px;
}
ion-view.place-details p {
    margin: 0;
}
ion-view.place-details p.title {
    width: 100%;
    color: #fff;
    font-size: 16px;
    margin-bottom: 2px;
}
ion-view.place-details p.value {
    width: 100%;
    color: #aaa;
    font-size: 14px;
}

div.hide {
    display: none !important;
}

.search-input {
    height: 100%;
    border: 0 none;
}

/* place list */
.list.list-inset.search-field {
    margin: 0;
}