<ion-view view-title="Details" class="place-details">
    <ion-content  has-bouncing="false">
        <div id="map"></div>

        <div class="content">
            <div class="name-and-distance">
                <p class="name">{{place.venue.name}}</p> 
                <p class="distance">{{place.venue.location.distance >= 1000 ? (place.venue.location.distance/1000).toFixed(2) + ' km away' : place.venue.location.distance + ' m away'}}</p>
            </div>

            <div class="name-and-distance" ng-class="place.venue.rating === undefined ? 'hide' : ''">
                <p class="title">Rating:</p>
                <p class="value">{{place.venue.rating}}</p>
            </div>

            <div class="name-and-distance">
                <p class="value"> - {{place.venue.hours.status !== undefined ? place.venue.hours.status : (place.venue.hours.isOpen ? 'Open' : 'Closed')}} - </p>
            </div>

            <div class="name-and-distance">
                <p class="value">{{place.venue.hereNow.summary}}</p>
            </div>

            {{place}}
        </div>
    </ion-content>
</ion-view>
