<ion-view view-title="{{title}}" hide-back-button="false" enable-menu-with-back-views="false" class="place-list">
    <ion-content scroll='false'>
        <!--<input class="search-field" ng-model="input.query" placeholder="Type the name of the venue">-->

        <div class="list list-inset search-field">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="input.query" placeholder="Filter by name">
            </label>
        </div>

    </ion-content>
    <ion-content>
        <ion-list>
            <ion-item class="item item-thumbnail-left item-dark" ng-repeat="place in places| filter: {venue: {name: input.query}}" ui-sref="app.place({placeId:place.venue.id})" ng-click="setPlaceDetails(place)">
                <img ng-src="{{place.venue.categories[0].icon.prefix + '64' + place.venue.categories[0].icon.suffix}}">
                <h2>{{place.venue.name}}</h2>
                <p>
                    {{place.venue.location.distance >= 1000 ? (place.venue.location.distance / 1000).toFixed(2) + ' km away' : place.venue.location.distance + ' m away'}}
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
